<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <!-- METADATOS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Team WikiGroup">
    <meta name="keywords" content="WikiGroup, Documentación, Proyecto Final, Equipo, Arquitectura, Desarrollo, Pruebas">
    <meta name="description" content="WikiGroup - Documentación del Proyecto Final">
    <!-- LINK CSS -->
    <link rel="stylesheet" th:href="@{/styles/desarrollo.css}">
    <link rel="stylesheet" th:href="@{/styles/menu.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <title>BackendBusters - Desarrollo</title>
</head>
<body>
    <!-- HEADER -->
    <div th:replace="~{fragments/menu :: header}"></div>

    <!-- MAIN -->
    <main class="main-container">
        <section class="test-section">
            <h1>Pruebas de Software</h1>
            <div class="tabs">
                <button class="tab-btn active" data-type="unit">Pruebas Unitarias</button>
                <button class="tab-btn" data-type="load">Pruebas de Carga</button>
                <button class="tab-btn" data-type="functional">Pruebas Funcionales</button>
            </div>
            <div id="testContent" class="test-container"></div>
        </section>
    </main>

    <!-- FOOTER -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:src="@{/scripts/desarrolloYPruebas.js}"></script>
</body>
</html>
