<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <!-- METADATOS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Team WikiGroup">
    <meta name="keywords" content="WikiGroup, Documentación, Proyecto Final, Equipo, Arquitectura, Desarrollo, Pruebas">
    <meta name="description" content="WikiGroup - Documentación del Proyecto Final">
    <!-- LINK CSS -->
    <link rel="stylesheet" th:href="@{/styles/despliegue.css}">
    <link rel="stylesheet" th:href="@{/styles/menu.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <title>WikiGroup - Despliegue</title>
</head>
<body>
        <!-- HEADER -->
        <div th:replace="~{fragments/menu :: header}"></div>


        <!-- MAIN -->
        <main class="main-container">
            <h1>Despliegue</h1>

            <!-- Historial de Versiones -->
            <div class="timeline-container">
                <!-- La línea de tiempo se generará con JavaScript -->
                <div class="timeline-line"></div>
                <div id="versions-container" class="versions-container">
                    <!-- Las versiones se agregarán aquí con JS -->
                </div>
            </div>
        </main>
        <!-- FOOTER -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <script th:src="@{/scripts/despliegue.js}"></script>

</body>
</html>